{
  "realm": "outline",
  "enabled": true,
  "sslRequired": "external",
  "registrationAllowed": false,
  "loginWithEmailAllowed": true,
  "duplicateEmailsAllowed": false,
  "resetPasswordAllowed": true,
  "editUsernameAllowed": false,
  "bruteForceProtected": true,
  "clients": [
    {
      "clientId": "outline",
      "enabled": true,
      "protocol": "openid-connect",
      "publicClient": false,
      "secret": "OIDC_CLIENT_SECRET",
      "redirectUris": ["https://WIKI_DOMAIN/*"],
      "webOrigins": ["https://WIKI_DOMAIN"],
      "standardFlowEnabled": true,
      "directAccessGrantsEnabled": false,
      "serviceAccountsEnabled": false,
      "authorizationServicesEnabled": false,
      "fullScopeAllowed": true,
      "defaultClientScopes": ["web-origins", "acr", "profile", "email"]
    }
  ],
  "users": []
}
